[Unit]
Description=Socket that Nginx will use to communicate with Gunicorn.

[Socket]
ListenStream=/run/discord-embed.sock

# Change this to the user that runs nginx. On Arch it is http, on others it is www-data. You can check with "ps aux | grep nginx"
SocketUser=http

[Install]
WantedBy=sockets.target