<!DOCTYPE html>
<html lang="en">
  <head>
    <title>discord-nice-embed</title>
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>discord-nice-embed</h1>
    <a href="/docs">Swagger UI - API documentation</a>
    <br />
    <a href="/redoc">ReDoc - Alternative API documentation</a>
    <br />
    <br />
    <form action="/uploadfiles/" enctype="multipart/form-data" method="post">
      <input name="file" type="file" />
      <input type="submit" value="Upload file" />
    </form>
  </body>
</html>
