<!DOCTYPE html>
<html lang="en">
<head>
    <title>discord-nice-embed</title>
    <meta content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="static/style.css" rel="stylesheet"/>
</head>
<body>
<h1>discord-nice-embed</h1>
<a href="/docs">Swagger UI - API documentation</a>
<br/>
<a href="/redoc">ReDoc - Alternative API documentation</a>
<br/>
<br/>
<form action="/uploadfiles/" enctype="multipart/form-data" method="post">
    <input name="file" type="file"/>
    <input type="submit" value="Upload file"/>
</form>
</body>
</html>
