[Unit]
Description=discord-embed
Requires=discord-embed.socket
After=network.target

[Service]
Type=notify
# Change lovinator to your username
User=lovinator
Group=lovinator
ExecStart=/home/lovinator/.local/bin/poetry run gunicorn --workers=3 --threads=3 -k uvicorn.workers.UvicornWorker --bind unix:/run/discord-embed.sock --access-logfile /var/log/discord-embed/access.log  --error-logfile /var/log/discord-embed/error.log main:app
WorkingDirectory=/home/lovinator/discord-embed
Environment="DOMAIN=https://i.lovinator.space/"
Restart=on-failure

[Install]
WantedBy=multi-user.target
